/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tsButton {
  background-color: #3178c6;
  color: var(--ifm-color-white)
}

.unitTestsButton {
  background-color: #8369bb;
  color: var(--ifm-color-white)
}

.tsButton[data-theme='dark'] {
  border-color: var(--ifm-button-color);
}

.tsButtonImg {
  position: relative;
  top: 3px;
  left: 7px;
}